name: Update AoC Badges

on:
  push:
    branches:
      - main

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: joblo2213/aoc-badges-action@v3
        with:
          userid: ${{ secrets.AOC_USER }}
          session: ${{ secrets.AOC_SESSION }}
          year: 2025
          starsRegex: '(?<=https:\/\/img\.shields\.io\/badge\/Stars-â­%20)[0-9]+(?=-yellow)'

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update AoC badges
          file_pattern: README.md